body {
    background-color: lightcyan;
}

#main {
    display: inline-block;
}

.card {
    width: 180px;
    height: 260px;
    background-color: lightblue;
    border: 2px solid darkblue;
    border-radius: 6%;
}

